<h1>List of Tasks</h1>

<ul>
  <% @tasks_list.each do |task| %>
    <li>
      <%= link_to(task.title, task_path(task)) %>
        <!-- <% if task.completed == true %>
          <input type="checkbox" checked name="completed">
        <% else %>
          <input type="checkbox" name="completed">
        <% end%> -->
      <%= form_for task do |f| %>
        <%= f.label :completed, "Completed?" %>
        <%= f.check_box :completed %>
      <% end %>

      <% if task.completed %>
        <%= button_to("Mark Incomplete", task_completed_path(task),
      method: :put) %>
      <% else %>
        <%= button_to("Mark Complete", task_completed_path(task),
      method: :put) %>
      <% end%>

      <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %>

    </li>
  <% end %>
</ul>

<button type="button" name="new_task"><%= link_to "Add new task", "/tasks/new"%></button>
